body {
    width: 100%;
  height: 100%;
  }
.mainBody{

position: fixed;

    top: 40px;

    bottom: 0;

    left: 0;

    right: 0;

    margin: 0;

    padding: 0;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;


border: 1px solid #d4d4d4;

box-shadow: 0px 0px 5px #d4d4d4;

/* background: url(/rsrc.php/v2/yB/r/TwAHgQi2ZPB.png) 0 bottom repeat-x; */
/* background: -webkit-linear-gradient(white, #D3D8E8); */
/* background: linear-gradient(white, #D3D8E8); */

/*background: #d8d5d7;*/
background:#D6DBEB;

}
.live.map{
  height: 100%;
  width: 100%;
}


  @-webkit-keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }

    25%, 75% {
      opacity: 0.2;
    }
  }

  @keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }

    25%, 75% {
      opacity: 0.2;
    }
  }

  .warn {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  .live.map {
    width: 100%;
    height: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .live.map text {
    font-weight: 300;
    font-size: 14px;
  }

  .live.map .node rect {
    stroke-width:1px;
    stroke: #666;
    fill: transparent;
    /* filter:url(#dropshadow); */
  }

  .live.map .status {
    height: 100%;
    display: block;
    float: left;
    border-bottom-left-radius: 5px;
    /* border-bottom-right-radius: 5px; */
    margin-right: 4px;
  }

  .live.map .running .status {
    background-color: #56ABFE;
  }

  .live.map .running.warn .status {
    background-color: #ffed68;
  }

  .live.map .stopped .status {
    background-color: #f77;
  }

  .live.map .warn .queue {
    color: #f77;
  }
  .edgeLabel .label{
    color: #EFC1B1;
  }

  .warn {
    -webkit-animation-name: flash;
    animation-name: flash;
  }

  .live.map .consumers {
    margin-right: 2px;
  }

  .live.map .consumers,
  .live.map .name {
    margin-top: 2px;
  }

.name {
  width: 100%;
  text-align: left;
  }
.queue {
    width: 100%;
    margin-left: 10px;
  /* text-align: center; */
  }



  .live.map .queue {
    display: block;
    float: left;
    /* width: 130px; */
    height: 20px;
    font-size: 12px;
    margin-top: 2px;
  }

  .live.map .node g div {
    width: 200px;
    height: 85px;
    color: #666;
  }

  .live.map .node g div span.consumers {
    /* display: inline-block; */
    /* width: 20px; */
    /* margin-left: 10px; */
  }

  .live.map .edgeLabel text {
    width: 50px;
    fill: #FF5500;
  }

  .live.map .edgePath path {
    stroke: #999;
    stroke-width: 1.5px;
    fill: #999;
  }
.statusP{
  height: 10px !important;
  width: 100%;
  /* border-top: .5px solid #666; */
  background: #FCF6C4; 
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: inset 0px 0px 1px #666;
}
.textDiv{
  width: 100%;
  height: 100%;
}
.editPopUp{
  position: absolute;
}
.blurBackGround{
  background: #000;
  opacity: .3;
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  z-index: 1;
}
.popUpDiv, .popUpDivForDesc{
  position: absolute;
  top: 100px;
  display: none;
  background: #fff;
  z-index: 10;
  border-radius: 7px;
  box-shadow: 0px 0px 10px #666;
  text-align: left;
  padding: 10px 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  	font-size: 14px;
  	float: left;
  	font-weight: 200;
}
.node{
  cursor: pointer;
}

.textDiv .name:hover{
  color: red;
}
.consumers{
  float: left;;
}
.status-circle{
  background: transparent;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0px;
  float: right;
  margin-right: 13px;
  margin-top: 4px;
}
.status-circle.completed{
  background: rgb(5, 139, 248);
}
.status-circle.inProgress{
  background: #4aaa48;
}
.status-circle.fail{
  background: rgb(255, 53, 51);
}
.status-circle.pending{
  background:#fff;
}
.parent .span{
  color: #fff;
}
.titleDiv{
margin: 0;
top: 0;
left: 0;
position: fixed;
height: 40px;
text-align: center;
line-height: 40px;
width: 100%;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
font-size: 25px;
background: #3a5795;
color: #fff;
font-weight: lighter;
}
.legend-box{
	height: 160px;
	width: 200px;
	position: fixed;
	left: 0;
	bottom: 0;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	margin-left: 5px;
	box-shadow: 0px 0px 2px #d4d4d4;
	margin-bottom: 5px;
}
.items{
	border-bottom: 1px solid #d4d4d4;
	line-height: 40px;
	height: 40px;
}
.items .view{
	width: 50px;
	float: left;
	height: 40px;
}
.items .text{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
	font-size: 18px;
	float: left;
	height: 40px;
	font-weight: lighter;
}
.circle{
	height: 18px;
	width: 18px;
	border-radius: 50%;
	margin-left: 11px;
	margin-top: 11px;
}

.circle.completed{
  background: rgb(5, 139, 248);
}
.circle.inProgress{
  background: #4aaa48;
}
.circle.fail{
  background: rgb(255, 53, 51);
}
.circle.pending{
  background:#fff;
}